body {
    background-color: #8e9aaf;
    color: #333;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid black; 
    }
